.header {
  min-width: 320px;
  background-image: url(../images/header-back.png);
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 481px) {
    background-size: cover;
  }
  @media (min-width: 992px) {
  }
}
.navigation {
  margin-bottom: 50px;
  height: 100px;
  display: flex;
  //   think about space-around
  justify-content: space-around;
  align-items: center;
  background: $header-nav-back;
  position: relative;
  &__logo-link {
    @include lato-700-24px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: $primary-color;
  }
  &__logo-name {
    display: none;
    @media (min-width: 481px) {
      display: block;
    }
  }

  &__logo-img-white {
    display: none;
  }

  //   &__logo-link:hover > &__logo-name {
  //     color: white;
  //   }

  //   &__logo-link:hover > &__logo-img-violet {
  //     display: none;
  //   }

  //   &__logo-link:hover > &__logo-img-white {
  //     display: block;
  //   }
  &__buy-now-btn {
    @include montserrat-700-15px;
    padding: 10px 25px;
    color: $white-color;
    background: $primary-color;
    border-radius: 40px;
    border: none;
  }
  @media (min-width: 481px) {
    @include montserrat-700-16px;
    padding: 15px 30px;
  }
  //   &__buy-now-btn:hover {
  //     color: #8d81ac;
  //     background: white;
  //   }
  &__header-nav {
    display: none;
    flex-direction: column;
    padding-bottom: 15px;
    position: absolute;
    width: 300px;
    top: 100%;
    background: #333333;
    @media (min-width: 481px) {
      padding: 0;
      gap: 47px;
      width: auto;
      display: flex;
      flex-direction: row;
      position: static;
      background: transparent;
    }
  }
  //   burger show
  &__active {
    display: flex;
  }
  &__header-nav-item {
    @include montserrat-400-26px;
    position: relative;
    color: $white-color;
    padding: 36px;
    border-bottom: 3px solid #3b3b3b;
    @media (min-width: 481px) {
      padding: 0;
      @include montserrat-700-16px;
      color: $primary-color;
      border: none;
    }
  }
  &__header-nav-item:hover::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 53px;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    background: $primary-color;
    @media (min-width: 481px) {
      content: none;
    }
  }
  &__header-nav-item:hover {
    color: $primary-color;
  }
}

.burger {
  @include flex-center-center;
  width: 26px;
  @media (min-width: 481px) {
    display: none;
  }
  &__lines {
    position: relative;
    width: 100%;
    height: 3px;
    background: $white-color;
    border-radius: 5px;
  }
  &__lines::before,
  &__lines::after {
    position: absolute;
    right: 0;
    height: 3px;
    background: $white-color;
    border-radius: 5px;
  }
  &__lines::before {
    content: "";
    width: 15px;
    top: -8px;
  }
  &__lines::after {
    content: "";
    width: 26px;
    top: 8px;
  }
}

.header-section {
  @include flex-dirColumn-center;
  position: relative;
  &__title {
    @include montserrat-700-48px;
    margin-bottom: 25px;
    color: $white-color;
  }
  &__subtitle {
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
    color: $primary-color;
    @include montserrat-400-18px;
  }
  &__text {
    @include montserrat-400-14px;
    margin-bottom: 417px;
    color: $secondary-color;
  }
  &__download {
    position: absolute;
    @include flex-dirColumn-center;
    bottom: 0;
    transform: translateY(65%);
  }
  &__download-btn {
    @include montserrat-700-18px;
    margin-bottom: 15px;
    padding: 15px 30px;
    color: $white-color;
    background: $primary-color;
    border-radius: 40px;
    border: none;
  }
  &__buy-now {
    @include montserrat-400-14px;
    color: $secondary-color;
  }
}
